/*PRELOADING------------ */
body
{
    background-color: #fff;
    height: 100%;
    width: 100%;
}

#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #fff;
}


.preloader p {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -45px;
    width: 120px;
    height: 90px;
    text-align: center;
    color: #000;
    font-size: 22px;
    z-index: 3;
    display: flex;
    margin-top: 20px;

}

.preloader span img {
    width: 290px;
    height: 290px;
    margin-top: -80px;
    margin-left: -70px;
}


.preloader p img {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #555;
    font-size: 24px;
    z-index: 3;
    margin-top: 3px;
}


.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 43%;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
}